[class^="icon-"], [class*=" icon-"] {
    font-family: 'brands' !important;
  }
  .icon-angular:before {
    content: "\e900";
    color: #dd0031;
  }
  .icon-facebook:before {
    content: "\e901";
    color: #3b5998;
  }
  .icon-google:before {
    content: "\e902";
    color: #4285f4;
  }
  .icon-microsoft:before {
    content: "\e903";
    color: #666;
  }