div.widget-container{
    width: 95%;
    margin: 40px auto 20px auto;
}
div app-elements,
div app-display,
div app-properties {
    width: 29%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #c7bfbf;
    border-radius: 10px;
    padding: 8px;
    background: #c7bfbf;
}
